Django		
Flask	
Jinja2		
Mako	
Markdown	
MarkupSafe		
Pillow	
Pygments	
SQLAlchemy	
Unidecode		
Werkzeug		
aiohttp	
appJar		
asn1crypto		
async-timeout	
atomicwrites	
attrs	
beautifulsoup4	
boto3	
botocore	
bottle	
brackets	
certifi	
cffi	
chardet	
colorama	
configparser
coverage	
cryptography	
curve	
cycler	
dj-database-url
django-debug-toolbar	
django-heroku	
django-taggit	
djangorestframework	
docutils	
docutils-stubs	
et-xmlfile
future	
go-ml-core
gunicorn
heroku
httpie
idna
importlib-metadata
itsdangerous
jdcal	
jmespath
kiwisolver
line	
matplotlib	
more-itertools	
multidict	
numpy	
oauthlib	
openpyxl	
ordereddict	
packaging	
pandas	
pdoc	
pip	
pip-tools
pluggy	
psycopg2
py
py-postgresql
py-trello
pyasn1	
pycparser
pymemcache	
pymongo	
pyparsing	
pytest
python-dateutil
python-telegram-bot
pytz
regex
requests
requests-oauthlib
rsa	
s3transfer
scipy
seaborn
sentry-sdk	
setuptools
six	
snap
soupsieve
south
sqlparse
telepot
urllib3
virtualenv
wcwidth
whitenoise	
yapf
yarl
zipp	
