<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Задачи на день</title>
</head>
<body>
    <h1>Памятка по использованию:</h1>
    <ul>
        <li><h2>Если Вы хотите воспользоваться планировщиком: </h2>
            <ol>
                <li><h3>"Зарегистрируйтесь"<br>"/accounts/register"</h3></li>
                <li><h3>"Или войдите на свою страничку"<br>"/accounts/login"</h3></li>
            </ol>
        </li>
        <li><img src="static/cat.jpg" width="30%" height="30%"></li>
    </ul>
</body>
</html>